---
layout: default
---

<div class="home">

  {% for post in paginator.posts %}
    <div class="post">

      <header class="post-header">
        <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
      </header>

      <article class="post-content">
      {{ post.content }}
      </article>

    </div>
  {% endfor %}

  <!-- Pagination links -->
  <div class="pagination">
    {% if paginator.previous_page %}
      {% if paginator.previous_page == 1 %}
        <a href="/">Previous</a>
      {% else %}
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="previous">Previous</a>
      {% endif %}
    {% else %}
      <span class="previous">Previous</span>
    {% endif %}

    <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="next">Next</a>
    {% else %}
      <span class="next ">Next</span>
    {% endif %}
  </div>

</div>
