<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{ page.title }} - {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="{% if page.title %}{{ page.title }}{% else %} {{ site.description }}{% endif %}">
    <meta name="author" content="{{ site:author }}">

    <!-- Schema.org markup for Google+ -->
    <meta itemprop="name" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
    <meta itemprop="description" content="{% if page.title %}{{ page.title }}{% else %}{{ site.description }}{% endif %}">

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@{{ site.twitter_username }}">
    <meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
    <meta name="twitter:description" content="{% if page.title %}{{ page.title }}{% else %}{{ site.description }}{% endif %}">
    <meta name="twitter:creator" content="@{{ site.twitter_username }}">

    <!-- Open Graph data -->
    <meta property="og:type" content="article" />
    <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
    <meta property="og:url" content="{% if page.url %}{{ page.url | replace:'index.html', '' | prepend: site.url }}{% else %}{{ site.url }}{% endif %}" />
    <meta property="og:description" content="{% if page.title %}{{ page.title }}{% else %}{{ site.description }}{% endif %}" />
    <meta property="og:site_name" content="{{ site.title }}" />

    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="/atom.xml" />
    <link rel="icon" type="image/png" href="/favicon.png">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">

</head>
