---
layout: default
---
<article class="quote-post h-entry" itemscope itemtype="https://schema.org/BlogPosting">

  <h1 class="quote-post__title p-name" itemprop="name headline">{{ page.title | escape }}</h1>

  <div class="quote-post__content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  <footer class="quote-post__meta">
    {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
    <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: date_format }}</time>
  </footer>

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
